/* 

styles:		Divicage

origin: 	1.0 — 02/26/24
version: 	1.1 — 02/26/24 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz

/*--FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased; 
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	html {
    	font-size: 16px;
	}

	body {
		background: #111;
		color: #FFF;
		line-height: 1.65;
		margin: 0 auto;
		max-width: 1600px;
		padding:  5rem;
  		animation: color-loop 7s infinite;
	}

	@keyframes color-loop {
		0% 		{ border-top: 7px solid #00CFFF; }
		25%		{ border-top: 7px solid #00AEDD; }
		50%		{ border-top: 7px solid #FFB715; }
		75%		{ border-top: 7px solid #FF3600; }
		100%	{ border-top: 7px solid #C60000; }
		}

 	header {
  		column-count: 2;
		column-gap: 3rem;
		column-width: 50%;
		margin-bottom: 4rem;
  	}

  	header img#logo {
  		width:  75%;
  	}

	footer {
		border-top: 2px solid #fff;
		padding: 1rem 0;
	  	column-count: 2;
		column-gap: 3rem;
		column-width: 50%;
	}


/*--TYPOGRAPHY */

	h1 {
		display:  none;
  	}

	h2 {
		font: 700 1.2em/1.4em "futura-pt", sans-serif;
		margin-bottom: 2.4rem;
  		text-align: justify;
	}

	p {
		font: 400 1.2em/1.2em "futura-pt", sans-serif;
  	}

  	button {
  		background: #FFB715;
  		border-radius: 50%;
  		color: #111;
  		font: 700 1.2em/2em "futura-pt", sans-serif;
  	}
	

/* SCRUNCH */


	@media (min-width: 1px) and (max-width: 900px) {

	body {
		padding: 3vw;
	}

	header,
	section ul,
	section ul.duo,
	section ul.quad,
	footer {
  		column-count: 1;
		column-width: 100%;
  	}

  	h2, h4 {
  		text-align:  left;
  	}

	h3 {	
		font: 700 1.6em/1.2em input-mono, monospace, sans-serif;
		margin-bottom: 1.2rem;
	}
	
	section {
		border-top:  0 none;
	}

	section ul li {
		margin-bottom: 4rem;
	}

	section ul li p {
		border-bottom:  2px solid #ddd;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
	}

  	header img#logo {
  		margin:  1rem 37vw 3rem;
  		text-align: center;
  		width: 20vw;
  	}

  	header main h2,
  	footer p {
  		text-align: center;
  	}

	}
