/* 

styles:		Divicage

origin: 	1.0 — 02/26/24
version: 	1.1 — 02/26/24 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz

/*--FOUNDATION */

	*, html, body, div, span, object, iframe,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li, img, figure, figcaption,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased; 
		font-smoothing: antialiased;
		margin: 0;
		padding: 0;
		outline: none;
		}

	html {
    	font-size: 16px;
	}

	body {
		background: #111;
		color: #FFF;
		line-height: 1.65;
		margin: 0 auto;
		padding:  5rem;
	}

 	header {
		display: grid;
		grid-template-columns: 50% 50%;
		margin-bottom: 6rem;
  	}

  	header img#logo { 
  		margin: 0 auto;
  		width: 65%; }


/*--TYPOGRAPHY */

	h1 { display: none; }

	h2 {
		font: 400 1.3em/1.6em "century-old-style-std", serif;
		margin-bottom: 3.2rem;
	}

	h2 span {
		font: 700 1.1em/1.6em "futura-pt", sans-serif;
	}

  	button {
  		background: #00CFFF;
  		border-radius: 1.25em;
  		border: none 0;
  		color: #111;
  		font: 700 1em/2em "futura-pt", sans-serif;
  		letter-spacing: .2em;
  		text-transform: uppercase;
  		padding: .25rem 1.25rem;
  	}

  	button:hover {
  		background: #00AEDD;
  		color: #FFF;	
  	}
	

/* SCRUNCH */


	@media (min-width: 1px) and (max-width: 900px) {

	body {
		padding: 5vw;
	}

	header {
  		display: block;
  	}

  	header img#logo {
  		margin:  2rem 20vw 3rem;
  		text-align: center;
  		width: 50vw;
  	}

  	button {
  		display: block;
  		margin: 0 auto;
  		text-align: center;
  	}

	}
